<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/project.css"/>
<body class="common-body">
  <div class="myform">
    <div class="logo">회원 정보를 입력해 주세요</div>
    <form action="create" method="post">
      <input type="text" id="name" name="name"  placeholder="&#xf003;   Name" />
      <input type="password" id="password" name="password" placeholder=" &#xf023;  Password" />
      <button type="submit">회원 가입</button>
    </form>
  </div>
</div>
</body>
</html>