<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/project.css"/>
<body class="common-body">
  <div class="myform" >
    <div class="logo">
      <i class="fa fa-cloud-upload" style="margin: auto" aria-hidden="true"></i>

      <h1 style="text-align: center">파일 동기화 시스템</h1>

      <button class="small-button" style="text-align: center" onclick = "location.href = '/login'">로그인 (접속)</button>
      <button class="small-button" style="text-align: center" onclick = "location.href = '/create'">회원 가입</button>
    </div>
  </div>
</body>
</html>
